body {
  font-family:'Helvetica';
  letter-spacing:0px;
  background:#333;
  //background-size: cover cover ;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover !important;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold;
  font-size: 40px;
}

h1, h2, h3, p {
  margin:0;
}

em, a {
  font-style:normal;
  color:#8dbd0c;
}

a {
  //background:#34d0e7;
  color:#fff;
  text-decoration:underline;
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:5%;
  line-height:97%;
  text-shadow:0px 0px 6px rgba(0,0,0,0.7);

}
div p {
  font-size: 40px;
}
div.center {
  text-align:center;
}

div.imageText {
//  text-shadow:0px 0px 3px rgba(0,0,0,0.2);
}

notes {
    display:none;
}
/* normally not good, but ok in context of full screen directional navigation */
:focus {
    outline: 0;
}
